<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>


    <div class='panel-body'>

        <div class='table-responsive'>
            <table class='table' *ngIf='birds && birds.length'>
                <thead>
                    <tr>
                        <th>Details</th>
                        <th>Common Name</th>
                        <th>FeatherColor</th>
                        <th>Beak</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let bird of birds'>
                        <!--<td><a [routerLink]="['/birds', bird.Id]">{{bird.Id}}</a></td>-->
                        <td>{{bird.CommonName}}
                        <td>{{bird.FeatherColor}}</td>
                        <td>{{bird.Beak}}</td>
                        <td><img src="{{'/app/assets/images/birds/' + bird.Id + '.jpg'}}" [style.margin.px]='imageMargin'
                                [style.width.px]='imageWidth' /></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    