

<a [routerLink]="['/birds']">birds</a>
<!-- If user's logged in, display a link to logout. The login will be managed via SSO whenever secured function required' -->


<table *ngIf="isUserLoggedIn">
    <tr>
        <td>
            <a href="#" (click)="logoutClicked($event)" id="logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a>
        </td>
    </tr>
</table>

<div class="panel panel-primary">
    <div class='panel-body' >
        Welcome to my Bird List Manager <br/>
        <router-outlet></router-outlet>
    </div>    

    <div class="panel-footer">
        <footer class="container-fluid">
            <p class="text-center small">©2017 NitinSingh.com</p>
        </footer>
    </div>
</div>